In [ ]:
!unzip /content/chia_with_scope.zip -d /content/chia

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("/content/chia_rel_dataset.tsv",sep="\t")

In [4]:
data.head()

,rel_type,head_ent,tail_ent,head_ent_span,head_ent_txt,tail_ent_span,tail_ent_txt,head_ent_type,hspan_start,hspan_end,tail_ent_type,tspan_start,tspan_end,source,trem_idx_start,trem_idx_end,hrem_idx_start,hrem_idx_end
0,Has_value,T2,T3,Procedure 10 24,pathologically,Value 25 34,confirmed,Procedure,10.0,24.0,Value,25.0,34.0,NCT00894712_inc.ann,NaN,NaN,NaN,NaN
1,OR,T5,T4,Condition 62 86,ductal carcinoma in situ,Condition 35 58,invasive adenocarcinoma,Condition,62.0,86.0,Condition,35.0,58.0,NCT00894712_inc.ann,NaN,NaN,NaN,NaN
2,AND,T4,T2,Condition 35 58,invasive adenocarcinoma,Procedure 10 24,pathologically,Condition,35.0,58.0,Procedure,10.0,24.0,NCT00894712_inc.ann,NaN,NaN,NaN,NaN
3,AND,T5,T2,Condition 62 86,ductal carcinoma in situ,Procedure 10 24,pathologically,Condition,62.0,86.0,Procedure,10.0,24.0,NCT00894712_inc.ann,NaN,NaN,NaN,NaN
4,Subsumes,T1,T6,Procedure 132 152,segmental mastectomy,Procedure 160 170,lumpectomy,Procedure,132.0,152.0,Procedure,160.0,170.0,NCT00894712_inc.ann,NaN,NaN,NaN,NaN

In [5]:
files = data.source.unique()

In [6]:
data[data.source==files[0]]

,rel_type,head_ent,tail_ent,head_ent_span,head_ent_txt,tail_ent_span,tail_ent_txt,head_ent_type,hspan_start,hspan_end,tail_ent_type,tspan_start,tspan_end,source,trem_idx_start,trem_idx_end,hrem_idx_start,hrem_idx_end
0,Has_value,T2,T3,Procedure 10 24,pathologically,Value 25 34,confirmed,Procedure,10.0,24.0,Value,25.0,34.0,NCT00894712_inc.ann,NaN,NaN,NaN,NaN
1,OR,T5,T4,Condition 62 86,ductal carcinoma in situ,Condition 35 58,invasive adenocarcinoma,Condition,62.0,86.0,Condition,35.0,58.0,NCT00894712_inc.ann,NaN,NaN,NaN,NaN
2,AND,T4,T2,Condition 35 58,invasive adenocarcinoma,Procedure 10 24,pathologically,Condition,35.0,58.0,Procedure,10.0,24.0,NCT00894712_inc.ann,NaN,NaN,NaN,NaN
3,AND,T5,T2,Condition 62 86,ductal carcinoma in situ,Procedure 10 24,pathologically,Condition,62.0,86.0,Procedure,10.0,24.0,NCT00894712_inc.ann,NaN,NaN,NaN,NaN
4,Subsumes,T1,T6,Procedure 132 152,segmental mastectomy,Procedure 160 170,lumpectomy,Procedure,132.0,152.0,Procedure,160.0,170.0,NCT00894712_inc.ann,NaN,NaN,NaN,NaN
5,Has_negation,T7,T8,Procedure 212 229,radiation therapy,Negation 188 191,not,Procedure,212.0,229.0,Negation,188.0,191.0,NCT00894712_inc.ann,NaN,NaN,NaN,NaN
6,Has_qualifier,T4,T9,Condition 35 58,invasive adenocarcinoma,Qualifier 87 100,of the breast,Condition,35.0,58.0,Qualifier,87.0,100.0,NCT00894712_inc.ann,NaN,NaN,NaN,NaN
7,Has_qualifier,T5,T9,Condition 62 86,ductal carcinoma in situ,Qualifier 87 100,of the breast,Condition,62.0,86.0,Qualifier,87.0,100.0,NCT00894712_inc.ann,NaN,NaN,NaN,NaN
8,Has_temporal,T10,T12,Condition 276 298,local-regional disease,Temporal 269 275,active,Condition,276.0,298.0,Temporal,269.0,275.0,NCT00894712_inc.ann,NaN,NaN,NaN,NaN
9,Has_negation,T10,T13,Condition 276 298,local-regional disease,Negation 260 263,not,Condition,276.0,298.0,Negation,260.0,263.0,NCT00894712_inc.ann,NaN,NaN,NaN,NaN

In [7]:
data[data.source == files[4]]

,rel_type,head_ent,tail_ent,head_ent_span,head_ent_txt,tail_ent_span,tail_ent_txt,head_ent_type,hspan_start,hspan_end,tail_ent_type,tspan_start,tspan_end,source,trem_idx_start,trem_idx_end,hrem_idx_start,hrem_idx_end
26,Has_multiplier,T3,T2,Measurement 43 50,culture,Multiplier 37 42,three,Measurement,43.0,50.0,Multiplier,37.0,42.0,NCT02678377_exc.ann,NaN,NaN,NaN,NaN
27,Has_temporal,T1,T4,Condition 11 24,recurrent UTI,Temporal 63 84,within last 12 months,Condition,11.0,24.0,Temporal,63.0,84.0,NCT02678377_exc.ann,NaN,NaN,NaN,NaN
28,AND,T1,T3,Condition 11 24,recurrent UTI,Measurement 43 50,culture,Condition,11.0,24.0,Measurement,43.0,50.0,NCT02678377_exc.ann,NaN,NaN,NaN,NaN
29,Has_temporal,T8,T9,Drug 246 272,anticholinergic medication,Temporal 280 292,last 2 month,Drug,246.0,272.0,Temporal,280.0,292.0,NCT02678377_exc.ann,NaN,NaN,NaN,NaN
30,Has_qualifier,T11,T10,Drug 327 345,onabotulinumtoxinA,Qualifier 304 321,bladder injection,Drug,327.0,345.0,Qualifier,304.0,321.0,NCT02678377_exc.ann,NaN,NaN,NaN,NaN

In [8]:
import spacy
from spacy.tokens import DocBin
import random, math
from spacy.util import filter_spans

In [19]:
#vars
IGNORE_VARS = ["AND","OR"]

In [9]:
data = data[["rel_type","head_ent","tail_ent","head_ent_span","head_ent_txt","tail_ent_span","tail_ent_txt","head_ent_type","tail_ent_type","source"]]

In [10]:
clean_data = data.dropna()

In [21]:
relations = list(clean_data.rel_type.value_counts().head(6).index)
#removing equivalence relations
for x in relations:
  if x in IGNORE_VARS:
    relations.pop(relations.index(x))

In [22]:
relations

['Has_value', 'Has_temporal', 'Has_qualifier', 'Subsumes', 'Has_scope']

In [23]:
clean_data.rel_type.value_counts().head(11)

Has_value         3643
Has_temporal      3091
Has_qualifier     3040
AND               2664
Subsumes          1874
Has_scope         1513
OR                1109
Has_negation       829
Has_index          829
Has_multiplier     601
multi              502
Name: rel_type, dtype: int64

In [24]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20405 entries, 0 to 20744
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   rel_type       20405 non-null  object
 1   head_ent       20405 non-null  object
 2   tail_ent       20405 non-null  object
 3   head_ent_span  20405 non-null  object
 4   head_ent_txt   20405 non-null  object
 5   tail_ent_span  20405 non-null  object
 6   tail_ent_txt   20405 non-null  object
 7   head_ent_type  20405 non-null  object
 8   tail_ent_type  20405 non-null  object
 9   source         20405 non-null  object
dtypes: object(10)
memory usage: 1.7+ MB

In [27]:
nlp = spacy.blank("en")
doc_bin = DocBin(store_user_data=True)
rel_count=0
ent_count = 0
for single_file in files:
  dummy_data = clean_data[clean_data.source == single_file]
  base_file = single_file[:-4]

  ent_dict = {}
  span_start = {}
  # print(total_ent)
  # with open("/content/chia/"+base_file+".ann") as f:
  #   print(f.read())
  # base_file = "NCT00894712_inc"
  with open("/content/chia/"+base_file+".txt") as f:
    # print(f.read())
    #reading the doc text
    doc_text = f.read()
    doc = nlp(doc_text)
    doc.set_extension("rel",default={},force=True)
    # print(doc.text)
    span_list = []
   
    for idx,row in dummy_data.iterrows():
      if row.head_ent_txt not in ent_dict:
        head_arr = row.head_ent_span.split(" ")
     
        head_type = head_arr[0]
        head_text = row.head_ent_txt
        correct_start = doc_text.find(head_text)
        correct_end = correct_start + len(head_text)
        span = doc.char_span(correct_start,correct_end,head_type)
        ent_dict[row.head_ent_txt] = head_text
        if(span!=None):
          span_list.append(span)
        # print(head_start,head_end,head_type,head_text,doc_text[correct_start:correct_end],row.head_ent)
      if row.tail_ent_txt not in ent_dict:
        tail_arr = row.tail_ent_span.split(" ")
        
        tail_type = tail_arr[0]
        tail_text = row.tail_ent_txt
        correct_start = doc_text.find(tail_text)
        # print(tail_text)
        correct_end = correct_start + len(tail_text)
        span = doc.char_span(correct_start,correct_end,tail_type)
        ent_dict[row.tail_ent] = tail_text
        if(span!=None):
          
          span_list.append(span)
        
        

        # print(tail_start,tail_end,tail_type,tail_text,doc_text[correct_start:correct_end],row.tail_ent)
    
    filtered = filter_spans(span_list)
    ent_count+=len(filtered)
    doc.set_ents(filtered)
    span_trial = {}
    for x in doc.ents:
      span_trial[x.text] = x.start
    # print(span_trial)
    span_start_ = [x.text for x in filtered]
    
    rel_dict = {}

    for x1 in span_trial.values():
      for x2 in span_trial.values():
        rel_dict[(x1, x2)] = {}
    # print(rel_dict) 
    for idx,row in dummy_data.iterrows():
      if row.head_ent_txt in span_start_ and row.tail_ent_txt in span_start_:  
        start = span_trial[row.head_ent_txt]
        end = span_trial[row.tail_ent_txt]
        label = row.rel_type
        if label not in rel_dict[(start, end)] and label in relations:
          rel_dict[(start, end)][label] = 1.0
          rel_count+=1
    for x1 in span_trial.values():
      for x2 in span_trial.values():
        for label in relations:
          if label not in rel_dict[(x1, x2)]:
            rel_dict[(x1, x2)][label] = 0.0
          

    doc._.rel = rel_dict
    doc_bin.add(doc)
    

      
print(rel_count)
print(ent_count)
print(len(doc_bin))

9768
22951
1887

In [28]:
print(rel_dict)

{(2, 4): {'Has_scope': 1.0, 'Has_value': 0.0, 'Has_temporal': 0.0, 'Has_qualifier': 0.0, 'Subsumes': 0.0}, (25, 30): {'Subsumes': 1.0, 'Has_value': 0.0, 'Has_temporal': 0.0, 'Has_qualifier': 0.0, 'Has_scope': 0.0}, (56, 61): {'Subsumes': 1.0, 'Has_value': 0.0, 'Has_temporal': 0.0, 'Has_qualifier': 0.0, 'Has_scope': 0.0}, (69, 73): {'Has_temporal': 1.0, 'Has_value': 0.0, 'Has_qualifier': 0.0, 'Subsumes': 0.0, 'Has_scope': 0.0}}

In [87]:
print(len(rel_dict))

196

In [29]:
doc_bin.to_disk(f"/content/chia_rel_5_no_0.spacy")

In [ ]:
doc._.rel

In [30]:
test_bin = DocBin()
test_bin.from_disk("/content/chia_rel_5_no_0.spacy")

In [31]:
docs = list(test_bin.get_docs(nlp.vocab))

In [32]:
for ent in docs[0].ents:
  print(ent.start , ent.text)

2 pathologically
3 confirmed
4 invasive adenocarcinoma
7 ductal carcinoma in situ
11 of the breast
20 segmental mastectomy
25 lumpectomy
31 not
35 radiation therapy
46 active
47 local-regional disease

In [185]:
doc_test = docs[0]

In [189]:
for i in doc_test.ents:
  print(i.start)

2
3
4
7
11
20
25
31
35
46
47

In [ ]:
doc_test._.rel

In [33]:
from sklearn.model_selection import train_test_split

# you can add random state to preserve the split each time.
train_docs, dev_docs = train_test_split(docs, test_size=0.2)
# dev_docs, test_docs = train_test_split(test_docs, test_size=0.5)

In [35]:
train_doc_bin = DocBin(store_user_data=True)
for train_doc in train_docs:
    train_doc_bin.add(train_doc)
train_doc_bin.to_disk("./chia_rel_train_5_no_zero.spacy")

dev_doc_bin = DocBin(store_user_data=True)
for dev_doc in dev_docs:
    dev_doc_bin.add(dev_doc)
dev_doc_bin.to_disk("./chia_rel_dev_5_no_zero.spacy")

In [ ]:
docs[7]._.rel

In [12]:
doc_bin = DocBin()
doc_bin.from_disk("/content/chia_rel_full.spacy")

In [12]:
doc

In [13]:
docs = list(doc_bin.get_docs(nlp.vocab))

In [16]:
vars(docs[0]._)

{'_extensions': {},
 '_obj': Must have pathologically confirmed invasive adenocarcinoma or ductal carcinoma in situ of the breast.
 Patients must have undergone segmental mastectomy (i.e., lumpectomy).
 Patients must not have received prior radiation therapy to the breast.
 Patients must not have active local-regional disease prior to registration.
 Patients must not be pregnant because of the potential for fetal harm as a result of radiation treatment. Women of child-bearing age will be given a serum pregnancy test prior to study entry to ensure they are not pregnant. They will also be counseled on the importance of avoiding pregnancy and hormonal contraception while undergoing radiation therapy.
 Patients must not have a serious medical or psychiatric illness which prevents informed consent or compliance with treatment.
 All patients must be informed of the investigational nature of this study and give written informed consent in accordance with institutional and federal guidelines. ,
 '_doc': Must have pathologically confirmed invasive adenocarcinoma or ductal carcinoma in situ of the breast.
 Patients must have undergone segmental mastectomy (i.e., lumpectomy).
 Patients must not have received prior radiation therapy to the breast.
 Patients must not have active local-regional disease prior to registration.
 Patients must not be pregnant because of the potential for fetal harm as a result of radiation treatment. Women of child-bearing age will be given a serum pregnancy test prior to study entry to ensure they are not pregnant. They will also be counseled on the importance of avoiding pregnancy and hormonal contraception while undergoing radiation therapy.
 Patients must not have a serious medical or psychiatric illness which prevents informed consent or compliance with treatment.
 All patients must be informed of the investigational nature of this study and give written informed consent in accordance with institutional and federal guidelines. ,
 '_start': None,
 '_end': None}

In [14]:
print(docs[0].get_extension("rel"))

None

In [62]:
docs[1]

10+ years of software engineering work experience. Technical experience in release automation engineering, CI/CD or related roles. Experience building and leading a software organization through product design, delivery and commercialization of consumer electronics devices. Experience recruiting and managing technical teams, including performance management. BS/MS in Computer Science. Experience in leading timeline, multi-partner initiatives. Organizational communication and coordination experience. PREFERRED 5+ years of experience with hands-on technical management, release engineering, tools engineering, DevOps, or related area.

In [63]:
vars(docs[1]._)

{'_extensions': {},
 '_obj': 10+ years of software engineering work experience. Technical experience in release automation engineering, CI/CD or related roles. Experience building and leading a software organization through product design, delivery and commercialization of consumer electronics devices. Experience recruiting and managing technical teams, including performance management. BS/MS in Computer Science. Experience in leading timeline, multi-partner initiatives. Organizational communication and coordination experience. PREFERRED 5+ years of experience with hands-on technical management, release engineering, tools engineering, DevOps, or related area.,
 '_doc': 10+ years of software engineering work experience. Technical experience in release automation engineering, CI/CD or related roles. Experience building and leading a software organization through product design, delivery and commercialization of consumer electronics devices. Experience recruiting and managing technical teams, including performance management. BS/MS in Computer Science. Experience in leading timeline, multi-partner initiatives. Organizational communication and coordination experience. PREFERRED 5+ years of experience with hands-on technical management, release engineering, tools engineering, DevOps, or related area.,
 '_start': None,
 '_end': None}

In [64]:
docs[1].token

AttributeError: ignored